<section class="ui raised segment" style="background-color: lightgray">
    <div class="ui column grid">
<div class="three colum row" style="font-size: 120%;text-align: center;text-decoration: slategray;
                font-style: italic">

        <div class="five wide column">
            <h3>Current Weight: </h3>
            <h2>{{currentWeight}} Kg</h2>
        </div>
        <div class="five wide column">
            <h3>Ideal Weight : </h3>
            <h2>{{idealWeight}} Kg</h2>
        </div>
        <div class="six wide column">
            <h3>Difference: </h3>
            <h2>{{weightDifferential}} Kg</h2>
        </div>
    </div></div></div>
</section>