<section class="ui center aligned segment" style="background-color: lightgray">

    <div class="ui column grid" style=" font-family: helvetica; font-size: 110%;
            text-transform: uppercase; font-weight: bold;padding-right: 10px">
        <div class="four column row" style="padding-bottom: 0%">
            <div class="four wide column"><i class="big chart bar icon"></i></div>
            <div class="four wide column">
                <i class="big green calendar outline icon"></i></div>
            <div class="four wide column" style="padding-right: 55px"><i class="disabled big red calendar minus icon"></i></div>
            <div class="three wide column" style="padding-right: 0px"><i class="disabled big green calendar check icon"></i></div>

        </div>
        <div class="four column row" style="padding-top: 0%">
            <div class="four wide column"><h2><a href="/memberGoals" style="color: forestgreen">Goals</a></h2></div>
            <div class="four wide column" style="padding-top: 4px">
                {{> openGoals}}</div>
            <div class="four wide column" style="padding-top: 4px">{{> missedGoals}}</div>
            <div class="three wide column" style="padding-top: 4px">{{> achievedGoals}}</div>
        </div>
    </div>
</section>