<section class="ui center aligned middle aligned segment">

    <div class="ui column grid" style=" font-family: helvetica; font-size: 130%;
            text-transform: uppercase; font-weight: bold">
        <div class="four column row" style="padding-bottom: 0%">
            <div class="four wide column"><i class="big chart bar icon"></i></div>
            <div class="four wide column">
                <i class="big green calendar outline icon"></i></div>
            <div class="four wide column"><i class="disabled big red calendar minus icon"></i></div>
            <div class="three wide column"><i class="disabled big green calendar check icon"></i></div>

        </div>
        <div class="four column row" style="padding-top: 0%">
            <div class="four wide column"><h2>Goals</h2></div>
            <div class="four wide column" style="padding-top: 4px">
                {{> openGoals}}</div>
            <div class="four wide column" style="padding-top: 4px">Missed</div>
            <div class="three wide column" style="padding-top: 4px">Achieved</div>
        </div>
    </div>
</section>