<span>
<div class="ui inline dropdown">
    <div class="text" style="padding-top: 2px">{{missedGoals.length}} Missed <i class="small caret down icon"></i></div>
<div class="menu">
    <div class="item">
        <table class="ui striped celled table">
            <thead>
           <tr>
            <th>Created By</th>
            <th>Weight to Achieve</th>
            <th>Completion Date</th>
        </tr>
        </thead>
        <tbody>
        {{#each missedGoals}}
            <tr class="negative">
                <td>{{createdBy}}</td>
                <td>{{goalWeight}}</td>
                <td>{{completionDate}}</td>
            </tr>
        {{/each}}
        </tbody>
        </table>
    </div>
</div>

</div>
</span>

<script>$('.ui.dropdown')
        .dropdown()
;</script>