<nav class="ui menu">
  <header class="ui header item" style="color: dodgerblue">Killian's Gym : Trainer View</header>
  <div class="right menu">
      <a id="dashboard" class="item" href="/trainer"><i class="home icon"></i></a>
      <a id="logout" class="item" href="/logout"><i class="sign out alternate icon"></i>Sign Out</a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>