{{> welcomemenu id='login' }}

<section class="ui center aligned middle aligned segment" style="font-size: 160%">
    <br>
    <h1>
        <i class ="massive icons">
        <i class="blue user circle icon"></i>
        <i class="large red dont icon"></i>
        </i>
    </h1>
    <p>
    <br>
    <h1>Sorry</h1>
    <h3>The email</h3> <h2 style="color: red">{{member}}</h2><h3> is already Registered.</h3>
    </p>
    <p>
        Please <a href="/signup">Signup</a> using a different email.
    </p>
    <a href="/signup"><i class="big redo icon"></i></a>
</section>