{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1> Welcome to Killian's Gym. </h1>
    <p>
        This app with help you with your Gym activity progress.
    </p>
</section>
