{{> trainerMenu id="trainer"}}

<section class="ui raised segment" style="color: darkred"><h2>Gym Trainer : {{trainer.firstName}} {{trainer.lastName}}</h2></section>

<section class="ui segment">
    {{> listMembers}}
</section>

