{{> trainerMenu id="trainer"}}

<section class="ui raised segment"><h2>Welcome {{trainer.firstName}} {{trainer.lastName}}</h2></section>

<section class="ui segment">
    {{> listMembers}}
</section>

